name: Build & Test

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: latest

      - name: Install
        run: npm install

      - name: Lint
        run: |
          npm run lint
          npm run format-check

      - name: Test
        run: npm run all

      - name: Notification
        uses: ./
        if: ${{ github.actor != 'dependabot[bot]' && github.event_name != 'pull_request' }}
        with:
          status: ${{ job.status }}
          title: ${{ secrets.BARK_TITLE }}
          device_key: ${{ secrets.BARK_DEVICE_KEY }}
          level: passive
          bark_server_url: ${{ secrets.BARK_SERVER_URL }}
