name: Build & Test

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: latest

      - name: Install
        run: npm install

      - name: Lint
        run: |
          npm run lint
          npm run format-check

      - name: Test
        run: npm run all

      - name: Notification
        uses: ./
        if: ${{ github.actor != 'dependabot[bot]' && github.event_name != 'pull_request' }}
        with:
          status: ${{ job.status }}
          title: ${{ secrets.BARK_TITLE }}
          device_key: ${{ secrets.BARK_DEVICE_KEY }}
          level: passive
          bark_server_url: ${{ secrets.BARK_SERVER_URL }}
