name: Build & Test

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: latest

      - name: npm install
        run: npm install

      - name: Test
        run: npm run all

      - name: Notification
        uses: ./
        with:
          status: ${{ job.status }}
          title: ${{ secrets.BARK_TITLE }}
          device_key: ${{ secrets.BARK_DEVICE_KEY }}
          level: passive
          bark_server_url: ${{ secrets.BARK_SERVER_URL }}
        if: ${{ github.event_name != 'pull_request' }}
